



body {
    background-image: url(../images/background.svg);
    padding: 50px;
    padding-left: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}


.cont-a {
    height: 333px;
}

.title {
    opacity: 0.647;
    font-size: 41px;
    letter-spacing: -2px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Inter";
    height: 20px;
}


.subtitle {
    opacity: 0.647;
    font-size: 30px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Inter";
}


.text {
    transform-origin: left top;
    transform: rotate(-90deg);
    margin-top: 200px;
    opacity: 0.376;
    font-size: 77px;
    letter-spacing: -3px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Inter";
}


.h3 {
    width: 426px;
    height: 162px;
    border-radius: 40px;
    background-color: #222222;
    opacity: 0.506;
    font-size: 35px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Inter";
    text-align: center; /* Center text horizontally*/
    line-height: 150px; /* Height value used to center vertically*/
    position: relative;
    top: -325px;
    left: 85px;
    border-top-left-radius: 0; /* upper left corner sharp*/
    border-bottom-left-radius: 0; 
    border-top-right-radius: 20px; /* upper left corner sharp*/
    border-bottom-right-radius: 20px;   
}


.cont-c {
    margin-top: -15px;
}


.ask {
    opacity: 0.651;
    font-size: 30px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Inter";
}


.cont-c {
    opacity: 0.506;
    width: 426px;
    height: 84px;
    border-radius: 20px;
    background-color: #222222;
    border: 0.5px solid #707070;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: left;    
}


i {
    opacity: 0.627;
    border-radius: 1px;
    color: #ffffff;
    font-size: x-large; 
    align-items: center;
    justify-content: center;
    text-align: left; 
    width: 50px; 
}


.cont-c input[type="text"] {
    opacity: 2.5;
    font-size: 15px;
    letter-spacing: -1px;
    color:white;
    font-weight: 300;
    font-family: "Inter"; 
    background-color: transparent; /*Makes the background of the text box transparent*/
    border: none; /* remove the border */
    margin-right: 130px;      
}


.cont-d {
    width: 199px;
    height: 47px;
    border-radius: 15px;
    background-image: linear-gradient(180deg, rgba(51,51,51,0.6) 0%, rgba(34,34,34,0.6) 100%);
    opacity: 0.647;
    font-size: 12px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Inter";
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;     
}

.btn {
    width: 116px;
    height: 47px;
    border-radius: 20px;
    opacity: 0.5;
    font-size: 12px;
    font-family: "Inter";
    background-color: #222222;
    color: white;
    position: relative;
    right: -297px;
    top: -47px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* Örnek media sorgusu: Ekran genişliği 600 piksel ve üzeri için stil belirleme */
@media (max-width: 600px) {
    .title {
        width: 100rem;
    }
    .subtitle {
        width: 200rem;
    }
    .ask {
        width: 35rem;
        font-size: 27px;
    }
    .h3 {
        width: 400px;
    }
}